 /* reset option */
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.clear::after{
    content: '';
    display: table;
    clear: both;
}

/* container */
main.container{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

/* titolo */
h1{
    font-weight: 1000;
    color: #c43672;
    font-size: 40px;
    padding: 40px
}

/* testo */
#lorem{
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
}

/* griglia */
.rettangle{
    float: left;
    min-height: 100px;
    width: calc(100% / 3);    
    padding: 20px 15px;
    


}

.left{
    padding-left: 0;
}

.right{
    padding-right: 0;
}

/* card dei lavoratori */
.card{
    background-color: #0F0E17;
    width: 100%;
    height: 100px;
    display: flex;
    box-shadow: 5px 10px 18px #888888;
}

/* immagini */
.immagini{
    width: 100px;
    height: 100px;
    background-size: cover;
}

.marco{
    background-image: url(../assets/img/male1.png);
}

.laura{
    background-image: url(../assets/img/female1.png);
}

.giorgio{
    background-image: url(../assets/img/male2.png);
}

.marta{
    background-image: url(../assets/img/female2.png);
}

.roberto{
    background-image: url(../assets/img/male3.png);
}

.daniela{
    background-image: url(../assets/img/female3.png);
}

/* testo con i dati */
.dati{
    margin: 15px 10px;
    text-align: left;
}

h2{
    color: white;
    font-size: 15px;
}

.job{
    color: white;
    font-size: small;
    margin-top: 5px;
}

.mail{
    color: #32C5EC;
}